body {
  background: url('./assets/xmasBackground.png') #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: 'Roboto' 
}

#mainContent {
  margin: 0 auto;
  padding: 0 40px;
  z-index: 999;
  min-height: 100vh;
  background: #cccccc40;
  color: #ffffff;
  text-align: center;
}

.group, button, input[type="submit"], .SignLogIn, input[type="button"] {
  color: #fff;
  border: solid 0.5px black;
  cursor: pointer;
  background: #000;
  transition: all 0.2s ease-in-out;
}

button, input[type="submit"], input[type="button"] {
  padding: 1em 2em;
}

input[type="submit"] {
  margin: 1em 0;
}
/* 
button {
  width: 100%;
} */

.errorBlock {
  background: red;
  width: 99%;
  opacity: 1;
  animation: fadeOutError 15s forwards;
}

.errorBlock p {
  font-size: 10px;
}

@keyframes fadeOutError {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.group:hover, button:hover, input[type="submit"]:hover, .SignLogIn:hover, .dashboard:hover, input[type="button"]:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #fff;
}

.loginRegisterDiv, .container {
  width: 100%;
  box-shadow: 0 0 10px #fff;
  border: solid 0.1px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  background: #00000080;
}

.groupMember {
  box-shadow: 0 0 10px #fff;
  padding: 5px;
}

#memberList {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.container h3 {
  margin: 0 0.4em 0.5em;
}

.detailsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.detailsForm ul {
  text-align: left;
}

input[name="password"], input[name="email"], input[type="text"] {
  padding: 10px
}

.group p {
  pointer-events: none;
  color: #fff;
  text-decoration: none;
}

.groupLink, .SignLogIn, .dashboard {
  text-decoration: none;
}

.SignLogIn, .dashboard {
  color: #fff;
  width: fit-content;
  margin: 0 auto 1em;
  padding: 10px;
}

.dashboard {
  background: #000;
  margin: 0.5em auto;
  transition: all 0.3s ease-in-out;
}

.groupContainer {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  text-align: center;
}

header {
  width: 100%;
  min-height: 2em;
}

.header-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-content a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  padding: 10px
}

.header-content a {
  user-select: none;
}

#headerIcon {
  height: 3em;
}

nav.is-expanded {
  display: flex;
  height: auto;
}

.bottomNav {
  display: flex;
  justify-content: center;
}

.bottomNav button {
  width: 9em;
}

.modalNav {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}

#modalContainer {
  position: fixed;
  background: url('./assets/xmasBackground.png') #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; 
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #3b3b3b;
  padding: 20px;
  box-shadow: 0 0 10px #fff;
}

#startButton {
  margin: 1em auto;
}

#person {
  color: #ed143d;
}

.notBought {
  color: #e65f5f;
}

.bought {
  color: #90ee90;
}

#notice {
  margin: 0;
  font-size: 12px;
}


/* customizable snowflake styling */

.snowflakes {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.snowflake {
  color: #ffffff40;
  font-size: 3em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}